Assets/Animated Character 2/
Assets/Hyper Casual Character/
Assets/Imported/
Assets/kenney_food-kit/
Assets/kenney_furniture-kit/
Assets/QuickOutline/
Assets/TextMesh Pro/
Library/
Logs/
Packages/
Temp/